@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Proxima Nova, system-ui, sans-serif;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

textarea:focus {
    outline: none !important;
}

textarea,
pre,
code,
input {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    line-height: 20px !important;
    font-size: 13px !important;
    color: unset;
}

pre {
    overflow-y: auto;
    overflow-x: hidden;
}

code {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

input:focus {
    outline: none !important;
}

select:focus {
    outline: none !important;
}

.lg\:divider-vertical {
    margin: 0px !important;
}

.lg\:divider-horizontal {
    margin: 0px !important;
    width: 0px !important;
}